<form class="form-horizontal" ng-submit="saveDetail(method)">
    <fieldset>
        <legend>Liste des details</legend>
        <div class="form-group">
            <div class="col-lg-2">
                <label for="indicateur" class="control-label">Indicateur</label>
                <select class="form-control" id="indicateur" ng-model="newDetail.indicateur"
                        ng-options="indicateur as indicateur.libelleIndicateur
                         for indicateur in indicateurs" ng-change="filtre()">
                    <option value=""></option>
                </select>
            </div>
            <div class="col-lg-3">
                <label for="dateDetail" class="control-label">Date</label>
                <input type="text" class="form-control datepicker" id="dateDetail" ng-model="newDetail.dateDetail" placeholder="La date du detail">
            </div>
            <div class="col-lg-3">
                <label for="valeur" class="control-label">La valeur</label>
                <input type="text" class="form-control" id="valeur" ng-model="newDetail.valeur" placeholder="La valeur du detail">
            </div>
<!--
            <div class="col-lg-2">
                <label for="unite" class="control-label">Unite</label>
                <select class="form-control" id="unite" ng-model="newDetail.unite"
                        ng-options="unite as unite.libelleUnite
                         for unite in unites" ng-change="filtre()">
                    <option value=""></option>
                </select>
            </div>
-->
            <div class="col-lg-2" style="padding-top: 30px;">
                <button type="reset" class="btn btn-default">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </fieldset>
</form>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>N°</th>
        <th>Id</th>
        <th>Date</th>
        <th>Indicateur</th>
        <th>Valeur</th>
        <th>Unite</th>
    </tr>
    </thead>
    <tbody>
    <ind-loading valeur-loading="loading">
        <tr ng-repeat="detail in details" >
            <td>{{$index+1}}</td>
            <td>{{detail.id}}</td>
            <td>{{detail.dateDetail|date:'dd-MM-yyyy HH:mm:ss'}}</td>
            <td>{{detail.indicateur.libelleIndicateur}}</td>
            <td>{{detail.valeur|number| separatorNumber}}</td>
            <td>{{detail.indicateur.unite.libelleUnite}}</td>
<!--
            <td><button class="btn btn-info" ng-click="editDetail(detail)">Modifier</button></td>
            <td><button class="btn btn-info" ng-click="deleteDetail(detail)">Supprimer</button></td>
-->
        </tr>
    </ind-loading>
    </tbody>
</table>