<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title>Le top des indicateurs</title>
    <link rel="stylesheet" href="client/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="client/bower_components/jquery-ui/themes/flick/jquery-ui.min.css"/>
    <!--<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.min.css"/>-->
    <link rel="stylesheet" href="client/css/index.css">
    <link rel="stylesheet" href="client/css/indicateur.css">
    <script src="client/bower_components/angular/angular.min.js"></script>
</head>
<body ng-app="app">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button tgype="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DNSI</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#/unites">Unite <span class="sr-only">(current)</span></a></li>
                <li><a href="#/type-indicateurs">Type Indicateur</a></li>
                <!--<li><a href="#/hotes">Hote</a></li>-->
                <li><a href="#/indicateurs">Indicateur</a></li>
                <li><a href="#/detail-indicateurs">Details</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Connexion</a></li>
            </ul>
        </div>
    </div>
</nav>
<ind-message></ind-message>
<div ng-view></div>

<script src="client/js/polyfill.js"></script>
<script src="client/bower_components/jquery/dist/jquery.min.js"></script>
<script src="client/bower_components/moment/moment.js"></script>
<!--<script src="bower_components/angular-ui-select/dist/select.min.js"></script>-->
<script src="client/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="client/bower_components/restangular/src/restangular.js"></script>
<script src="client/bower_components/lodash/dist/lodash.min.js"></script>
<script src="client/bower_components/angular-route/angular-route.min.js"></script>
<script src="client/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="client/bower_components/checklist-model/checklist-model.js"></script>
<script src="client/js/app.js"></script>
<script src="client/js/config.js"></script>
<script src="client/js/routing.js"></script>

<!-------------------------FILTER--------------------------->
<script src="client/js/filter/separatorNumber.js"></script>

<!-------------------------SERVICES--------------------------->
<script src="client/js/service/Unites.js"></script>
<!--<script src="client/js/service/Hotes.js"></script>-->
<script src="client/js/service/messageFactory.js"></script>
<script src="client/js/service/TypeIndicateurs.js"></script>
<script src="client/js/service/Indicateurs.js"></script>
<script src="client/js/service/DetailIndicateurs.js"></script>

<!----------------------CONTROLLERS-------------------------->
<script src="client/js/controller/UniteController.js"></script>
<!--<script src="client/js/controller/HoteController.js"></script>-->
<script src="client/js/controller/TypeIndicateurController.js"></script>
<script src="client/js/controller/IndicateurController.js"></script>
<script src="client/js/controller/DetailIndicateurController.js"></script>


<!-------------------------DIRECTIVES--------------------------->
<script src="client/js/directive/loading.js"></script>
<script src="client/js/directive/message.js"></script>
<script src="client/js/directive/deleteModal.js"></script>
<script src="client/js/directive/datepicker.js"></script>
</body>
</html>