<form class="form-horizontal" ng-submit="saveUnite(method)">
    <fieldset>
        <legend>Les unites des differents indicateurs</legend>
        <div class="form-group">
            <label for="codeUnite" class="col-lg-1 control-label">Code unite</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="codeUnite" ng-model="newUnite.codeUnite" placeholder="Code de l'unite (Ex: Mo,Ko,..)">
            </div>
            <label for="libelleUnite" class="col-lg-2 control-label">Libelle de l'unite</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="libelleUnite" ng-model="newUnite.libelleUnite" placeholder="Le libelle (Ex:Kilo octet)">
            </div>
            <div class="col-lg-3">
                <button type="reset"  ng-click="annuler()" class="btn btn-default">Annuler</button>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </fieldset>
</form>

<table class="table table-striped table-hover ">
    <thead>
    <tr>
        <th>N°</th>
        <th>Id</th>
        <th>Libelle Unite</th>
        <th>Code unite</th>
    </tr>
    </thead>
    <tbody>
    <ind-loading valeur-loading="loading">
        <tr ng-repeat="unite in unites" >
            <td>{{$index+1}}</td>
            <td>{{unite.id}}</td>
            <td>{{unite.libelleUnite}}</td>
            <td>{{unite.codeUnite}}</td>
            <td><button class="btn btn-info" ng-click="editUnite(unite)">Modifier</button></td>
            <td><button class="btn btn-info" ng-click="deleteUnite(unite)">Supprimer</button></td>
        </tr>
    </ind-loading>
    </tbody>
</table>